# Keep gui project files without binaries
!src/gui/*
src/gui/app/Debug/*
src/gui/app/Release/*
src/gui/app/x64/*
src/gui/app/.vs/*

.vs/*
Debug/*
.idea/*
cmake-build-debug/*
CMakeLists.txt
*.sln/*
*.vcxproj/*
*.filters/*
*.user/*
*.out
*.exe
*.o
*_test.cpp
*.txt
### C++ ###
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Fortran module files
*.mod
*.smod

# Executables
*.exe
*.out
*.app

### VisualStudioCode ###
.vscode/*

### VisualStudioCode Patch ###
# Ignore all local history of files
.history

# Program databases
*.pdb

# Linker input
*.ilk